{% load staticfiles %}
<!DOCTYPE html>
<html lang="zh-CN">
{% include 'public/head.html' %}
<body class="home blog">
{% include 'public/header.html' %}
<div class="wrapper">
  <div class="main main-raised">
    <div class="hestia-blogs">
      <div class="container">
        <div class="row">
          <aside id="secondary" class="col-md-3 blog-sidebar " role="complementary">
            <div id="search-2" class="widget widget_search">
              <form role="search" method="get" class="search-form" action="/">
                <label>
                  <span class="screen-reader-text">搜索：</span>
                  <input type="search" class="search-field" placeholder="搜索&hellip;" value="" name="s" />
                </label>
                <input type="submit" class="search-submit" value="搜索" />
              </form>
            </div>
            <div id="recent-posts-2" class="widget widget_recent_entries">
              <h5>近期文章</h5>
              <ul>
                <li>
                  <a href="/2017/07/23/temporary-post-100/">Temporary Post 100</a>
                </li>
                <li>
                  <a href="/2017/07/23/temporary-post-98/">Temporary Post 98</a>
                </li>
                <li>
                  <a href="/2017/07/23/temporary-post-99/">Temporary Post 99</a>
                </li>
                <li>
                  <a href="/2017/07/23/temporary-post-96/">Temporary Post 96</a>
                </li>
                <li>
                  <a href="/2017/07/23/temporary-post-97/">Temporary Post 97</a>
                </li>
               </ul>
            </div>
            <div id="recent-comments-2" class="widget widget_recent_comments">
              <h5>近期评论</h5>
              <ul id="recentcomments">
                <li class="recentcomments">
                  <span class="comment-author-link">
                    <a href='https://wordpress.org/' rel='external nofollow' class='url'>一位WordPress评论者</a>
                  </span>
                  发表在《<a href="/2017/07/22/hello-world/#comment-1">世界，您好！</a>》
                </li>
              </ul>
            </div>
            <div id="tag_cloud-2" class="widget widget_tag_cloud">
              <h5>标签</h5>
              <div class="tagcloud">
                <a href='/tag/golang/' class='tag-link-5 tag-link-position-1' title='1个话题' style='font-size: 8pt;'>Golang</a>
                <a href='/tag/python/' class='tag-link-3 tag-link-position-2' title='1个话题' style='font-size: 8pt;'>Python</a>
              </div>
            </div>
            <div id="archives-3" class="widget widget_archive">
              <h5>文章归档</h5>
              <ul>
                <li><a href='/2017/07/'>2017年七月</a></li>
              </ul>
            </div>
          </aside><!-- .sidebar .widget-area -->
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
    {% include 'public/footer.html' %}
  </div>
</div>
{% include 'public/foot.html' %}
</body>
</html>
